@tailwind base;
@tailwind components;
@tailwind utilities;

/* body styling tailwind #6b7280 */
/* navbar styling tailwind #111827 */

body {
  background: linear-gradient(
      to top,
      rgb(128, 0, 255) 10%,
      rgba(219, 39, 120, 0) 60%
    ),
    #082f49;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* add ; after } */
